.entegra-section p{
    font-size: 26px;
    color: var(--primaryText);
    margin-bottom: 34px;
}
.ozellikle-section .fin-card{
    background-color: #F3F8FF;
}
.tools-part .logo-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 50px;
}
.tools-part .logo-section .logo-box{
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    filter: drop-shadow(0px 5px 60px rgba(49, 69, 244, 0.10));
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tools-part .logo-section .logo-box img{
    width: auto;
}
.tools-part .logo-section .logo-box img.large-image{
    width: 100%;
}
.timeline-chart .content-part{
    display: flex;
    align-items: flex-start;
    max-width: 92%;
    margin: auto;
}
.timeline-chart .content-part .time-box{
    flex: 1;
    text-align: center;
}
.timeline-chart .content-part p{
    font-size: 22px;
    color: var(--primaryText);
    max-width: 60%;
    margin: auto;
    margin-top: 30px;
}
.mobile-chat-part {
    display: none;
    gap: 20px;
}
.mobile-chat-part  .mobile-content-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobile-chat-part  .mobile-content-part .time-box{
    flex: 1;
}
.mobile-chat-part  .mobile-content-part .time-box p{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    line-height: 22px;
    color: var(--primaryText);
}
@media screen and (max-width: 1366px) {
    .entegra-section p{
        font-size: 22px;
    }
    .tools-part .logo-section{
        gap: 3%;
        row-gap: 30px;
    }
    .tools-part .logo-section .logo-box{
        width: 17%;
    }
    .common-spacing {
        margin-top: 60px;
    }
}
@media screen and (max-width: 1280px) {
    .timeline-chart .content-part p{
        font-size: 18px;
    }
}
@media screen and (max-width: 1024px) {
    .fin-card-content-part .fin-card .image-part{
        width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    }
    .fin-card-content-part .fin-card .image-part img{
        width: 60%;
    }
    .fin-card-content-part .fin-card .fin-card-content p {
        font-size: 18px;
        gap: 10px;
    }
    .tools-part .logo-section .logo-box{
        height: 150px;
    }
    .tools-part .logo-section .logo-box img.large-image {
        width: 85%;
    }
    .tools-part .logo-section .logo-box img{
        width: 85%;
    }
    .entegra-section p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .timeline-chart .content-part p {
        font-size: 16px;
        max-width: 70%;
        margin-top: 16px;
    }
}
@media screen and (max-width: 991px) {
    .tools-part .logo-section .logo-box {
        height: 120px;
    }
    .entegra-section .image-part img{
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .entegra-section p{
        font-size: 15px;
    }
    .fin-card-content-part .fin-card .fin-card-content p{
        font-size: 14px;
    }
    .fin-card-content-part .fin-card .fin-card-content{
        gap: 10px;
    }
    .tools-part .logo-section .logo-box {
        width: 30%;
    }
    .tools-part .logo-section{
        gap: 5%;
        row-gap: 20px;
    }
    .tools-part .logo-section .logo-box {
        height: 100px;
    }
    .common-spacing {
        margin-top: 30px;
    }
    .mobile-chat-part{
        display: flex;
    }
    .content-and-chart{
        display: none;
    }
}