.entegra-section p{
    font-size: 26px;
    color: var(--primaryText);
    margin-bottom: 34px;
}
.ozellikle-section .fin-card{
    background-color: #F3F8FF;
}
.tools-part .logo-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 50px;
}
.tools-part .logo-section .logo-box{
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    filter: drop-shadow(0px 5px 60px rgba(49, 69, 244, 0.10));
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tools-part .logo-section .logo-box img{
    width: auto;
}
.tools-part .logo-section .logo-box img.large-image{
    width: 100%;
}