

.landing-page-slider-content .slider-data .image-part {
    background-image: url('../images/slider-content-part-bg-image-1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page-slider-content .slider-data .image-part img {
    width: 58%;
}

.landing-page-slider-content .slider-data .bottom-part{
    padding-bottom: 50px;
}
.landing-page-slider-content .slider-data .bottom-part .box {
    padding: 40px 70px;
    background-color: #fff;
    box-shadow: 0px 5px 60px rgba(49, 69, 244, 0.10);
    width: 94.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 0 0 20px 20px !important;
}

.landing-page-slider-content .slider-data .bottom-part .box .head {
    color: var(--secondary);
    font-size: 28px;
    font-weight: 600;
    line-height: 111%;
    text-align: center;
}

.landing-page-slider-content .slider-data .bottom-part .box .text {
    color: var(--secondary);
    font-size: 24px;
    font-weight: 300;
    line-height: 41px;
    margin-bottom: 10px;
}


.landing-page-slider-content .slider-data .bottom-part .box .list .list-item .text {
    font-weight: 400;
}

.landing-page-slider-content.reference-section .owl-dots{
    /* margin-top: 20px; */
}

 .slider-name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFF;
    border-radius: 11px;
    width: fit-content;
    margin: auto;
}
 .slider-name img{
    width: 50px !important;
}
 .slider-name h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
    white-space: nowrap;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.neise-page .slider-name h4{
    width: 300px;
}
.neise-slider-data .slider-data .image-part{
    display: flex;
    justify-content: center;
}
.neise-slider-data .slider-data .image-part iframe{
  height: 600px;
  width: 70%;
  margin: auto;
  border-radius: 16px;
}
.neise-slider-data .slider-data{
    position: relative;
    padding-bottom: 120px;
}
.neise-slider-data .slider-data:before{
    position: absolute;
    content: "";
    background-image: url('../images/back-blue.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 150px;
    z-index: -1;
}


#widget-nav .owl-nav {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #widget-nav .owl-nav .owl-prev,
  #widget-nav .owl-nav .owl-next {
    pointer-events: all;
    font-size: 2rem;
  }
  #widget-nav .owl-nav .owl-prev{
    margin-left: -20px;
  }
  #widget-nav .owl-nav .owl-next{
    margin-right: -20px;
  }
  #widget-nav-highlight {
    width: 25%;
    height: 130%;
    box-shadow: 0px 5px 60px 0px rgba(49, 69, 244, 0.1);
    border-radius: 12px;
  }

  #widget-nav .owl-item > .item {
    height: 4rem;
    color: #B7B5B5;
  }
  #widget-nav .owl-item > .item  h4{
    font-weight: 400;
  }
  #widget-nav .owl-item > .item img{
    filter: grayscale(1);
    opacity: 0.7;
  }
  #widget-nav .owl-item.active.center > .item {
    color: orange;
    font-size: 2rem;
    line-height: 1.8rem;
  }
  #widget-nav .owl-item.active.center > .item h4{
    font-weight: 600;
  }

  #widget-nav .owl-item.active.center > .item img{
    opacity: 1;
    filter: none;
  }

/* responsive content */

@media (max-width: 1550px) {
    .landing-page-slider-content .slider-data .bottom-part .box .text {
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 0;
    }

    .landing-page-slider-content .slider-data .bottom-part .box .head {
        font-size: 28px;
    }
}

@media (max-width: 1440px) {
    .landing-page-slider-content .slider-data .bottom-part .box .text {
        font-size: 18px;
        line-height: 28px;
    }
    
}
@media screen and (max-width: 1024px) {
    .landing-page-slider-content .slider-name h4{
        font-size: 18px;
    }
    .landing-page-slider-content .slider-name img{
        width: 36px !important;
    }
    .neise-slider-data .slider-data .image-part iframe {
        height: 420px;
        width: 80%;
    }
    .neise-slider-data .slider-data:before{
        top: 100px;
    }
    .neise-slider-data .slider-data .image-part iframe{
        height: 320px;
    }
    .neise-slider-data .slider-data{
        padding-bottom: 80px;
    }
    #widget-nav-highlight{
        width: 32%;
    }
    #widget-nav .owl-nav{
        width: 32%;
    }
    .slider-name h4{
        font-size: 22px;
    }
}
@media screen and (max-width: 991px) {
    .landing-page-slider-content .slider-data .bottom-part .box{
        padding: 20px 30px;
    }
    .landing-page-slider-content .slider-name{
        margin-bottom: 20px;
    }
    .landing-page-slider-content .slider-data .bottom-part .box .head {
        font-size: 18px;
    }
    .landing-page-slider-content .slider-data .bottom-part .box .text {
        font-size: 16px;
    }
    #widget-nav-highlight {
        width: 55%;
    }
    #widget-nav .owl-nav{
        width: 55%;
    }
}
@media screen and (max-width: 767px) {
    .landing-page-slider-content .slider-data .bottom-part .box {
        padding: 20px 10px;
        gap: 8px;
    }
    .landing-page-slider-content .slider-data .bottom-part .box .head{
        line-height: 26px;
    }
    .landing-page-slider-content .slider-data .bottom-part .box .text {
        line-height: 22px;
        font-size: 14px;
    }
    .landing-page-slider-content .slider-name h4 {
        font-size: 16px;
    }
    .landing-page-slider-content .slider-name img {
        width: 26px !important;
    }
    .neise-slider-data .slider-data .image-part iframe{
        height: 100%;
        border-radius: 10px;
    }
    .neise-slider-data .slider-data:before {
        top: 40px;
    }
    .neise-slider-data .slider-data {
        padding-bottom: 40px;
    }
    .landing-page-slider-content{
        margin-top: 0 !important;
    }
    .banner-main-landing-slider {
        margin-top: 100px;
    }
    .neise-page .banner-main-landing-slider {
        margin-top: 30px;
    }
    #widget-nav-highlight, #widget-nav .owl-nav {
        width: 80%;
    }
    .neise-page .slider-name h4 {
        width: 300px;
        font-size: 17px;
    }
}
@media screen and (max-width: 390px) {
    .neise-slider-data .slider-data {
        padding-bottom: 26px;
    }
}